.todochart{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    gap: 1rem;
    margin-left: 10vw;
    margin-bottom: 5vh;
}

.todochart-title{
    font-size: medium;
    display: flex;
    margin-bottom: 1rem;
}

.progress{
    height: 2rem;
    font-size: medium;
    width: 25vw;
}