.todochart{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 1rem;
}

.todochart-title{
    font-size: large;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.progress{
    height: 2rem;
    font-size: medium;
    width: 25vw;
}