.todolist{
    display: flex;
    flex-flow: column nowrap;
    margin-top: 5vh;
}

.todolist-form{
    display: flex;
    flex-flow: row;
    margin-bottom: 2rem;
    align-items: center;
    justify-content: flex-end;
    height: 5vh;
}

.todolist-form-text{
    height: 100%;
    border-radius: 0.5rem;
    width: 20vw;
}

.todolist-form-button{
    margin-left: 1rem;
}