.tasks{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end; 
    max-width: 40vw;
    padding-right: 2rem;
}

.task{
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    margin-right: 2rem;
    margin-left: 2rem;
    width: 40vw;  
}

.task-checkInput{
    margin-right: 1rem;
}

.task-description{
    padding-right: 2rem;
    max-width: 40vw;
}